@model OrderManagement.Models.ViewModels.ProviderSearchViewModel

@{
    ViewData["Title"] = "Поставщики";
}

@using (Html.BeginForm("Index", "Provider", FormMethod.Post, new { id = "providerSearchForm" }))
{
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1 class="display-4">Поставщики</h1>
    </div>
    <div class="mb-3 row">
        <div class="col-sm-4">
            <label>Наименоване поставщика:</label>
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
        </div>
        <div class="col-sm-2 d-flex align-items-end">
            <button type="button" class="btn btn-primary ml-auto" onclick="reloadProviderTable()">Применить</button>
        </div>
    </div>
}

<div id="providerTableContainer" data-url="@Html.Raw(Url.Action("List", "Provider"))"></div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#Name').on('keypress', function (e) {
                if (e.which === 13) {
                    e.preventDefault();
                    reloadProviderTable();
                }
            });
            reloadProviderTable();
        });
    </script>
}